<div id="message-<%= message.id %>" class="message-container">
  <div class="user-info">
  <%= cl_image_tag message.user.photo.key, class:"organizer-img" %>
    <strong><span class="username"><%= message.user.username %></span></strong>
  </div>
  <p><%= message.content %></p>
  <small>
    <i><span class="message-time"><%= message.created_at.strftime("%H:%M") %></span></i>
  </small>
</div>

<style>
  .username {
      margin-right: 10px;
    }

  .message-date {
    float: right;
    /* margin-right: 10px; */

  }

.message-separation {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}

  .message-time {
    float: right;
  }

</style>
