<%# ADD-EVENT %>
<div class="event-wrapper page-container">
  <%# LINK-TITLE-EVENT %>
  <div class="link-title-add-event">
    <%= link_to events_path do %>
      <div class="fitmate-header-navbar">
        <button class='transparent-button'>
          <i class="fa-solid fa-chevron-left" style="color: #f6d0a5;"></i>
        </button>
      </div>
    <% end %>

    <%# TITLE %>
    <div class="title-event-creation">
      <h3>Créer un évènement</h3>
    </div>

    <%# AVATAR USER %>
    <div class="avatar-user">
      <%= link_to user_path(current_user) do %>
        <%= cl_image_tag current_user.photo.key, width:45, height:45, class:"avatar-event"%>
      <% end %>
    </div>
  </div>

    <%# FORM %>
    <div class= "form-new-events">
      <%= simple_form_for([:organizer, @event]) do |f| %>

        <%# SPORT SELECT %>
        <div class="sport-selection">
          <div class="dropdown sport-event">
                <%= f.input :sport, label: "Sport",
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Sport::LIST%>
          </div>
        </div>

        <%# DATE %>
        <div class= "select-date">
          <%= f.input :datetime, as: :string, label: "Date",
            input_html: { data: { controller: "flatpickr" } }
          %>
        </div>

        <%# LOCAL %>
        <div class= "localisation-event">
          <%= f.input :localisation, label: "Adresse",
                      input_html: { data: {address_autocomplete_target: "address"},
                                    class: "d-none",
                                    placeholder: "Nouveau placeholder"},
                      wrapper_html: {data: {controller: "address-autocomplete",
                                    address_autocomplete_api_key_value: ENV["MAPBOX_API_FIT_MATE"]}}
          %>
        </div>

        <%# LEVEL %>
        <div class="event-level">
          <%= f.input :event_level, label: "Niveau", collection: ['débutant', 'intermediaire', 'expert'], as: :radio_buttons%>
        </div>

        <%# PARTICIPANTS %>
        <div class="max-participant-event">
          <%= f.input :max_participant, label: "Nbr de participant", placeholder: "1 à 25" %>
        </div>

        <%# TITLE %>
        <div class="title-event">
          <%= f.input :title, label: "Titre de l'évènement", placeholder: "Séance de yoga..." %>
        </div>

        <%# DESCRIPTION %>
        <div class="description-event">
          <%= f.input :description, label: "Description", placeholder: "...maximum 800 caractères"%>
        </div>

        <%# IMG %>
        <div class="photo-event">
          <%= f.input :photo, as: :file%>
        </div>

        <%# CTA %>
        <%= f.submit "Ajouter", class: "btn-signin btn-create-event"%>
      <% end %>
    </div>

</div>
