<div class="event-wrapper page-container">
  <%= link_to events_path do %>
    <div class="fitmate-header-navbar">
      <button class='transparent-button'>
        <i class="fa-solid fa-chevron-left" style="color: #f6d0a5;"></i>
      </button>
    </div>
  <% end %>
  <div class="container-event">
    <%# TITLE %>
    <div class="title-event-creation">
      <h1>Add an Event</h1>

      <%# AVATAR USER %>
      <div class="avatar-user">
        <%= cl_image_tag current_user.photo.key, width:45, height:45, class:"avatar-event"%>
      </div>
    </div>


    <%# FORM %>
    <div class= "form-new-events">
      <%= simple_form_for([:organizer, @event]) do |f| %>

        <%# SPORT SELECT %>
        <div class="sport-selection">
          <div class="dropdown sport-event">
            <button class="dropdown-toggle btn-sport-event" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sport
            </button>
            <div class="dropdown-menu">
                <%= f.input :sport, label: false,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Sport::LIST%>
            </div>
          </div>
        </div>

        <%# DATE %>
        <div class= "select-date">
          <%= f.input :datetime, as: :string, label: false,
            wrapper_html: { class: "mb-4" },
            input_html: { data: { controller: "flatpickr" } }
          %>
        </div>

        <%# LOCAL %>
        <div class= "localisation-event">
          <%= f.input :localisation, label: false, placeholder: "Addresse" %>
        </div>

        <%# LEVEL %>
        <div class="event-level">
          <%= f.input :event_level, collection: ['beginner', 'intermediate', 'expert'], as: :radio_buttons%>
        </div>

        <%# PARTICIPANTS %>
        <div class="max-participant-event">
          <%= f.input :max_participant, label: false, placeholder: "Nombre de participant" %>
        </div>

        <%# TITLE %>
        <div class="title-event">
          <%= f.input :title, label: false, placeholder: "Titre de l'évènement" %>
        </div>

        <%# DESC %>
        <div class="description-event">
          <%= f.input :description, label: false, placeholder: "Description de l'évènement"%>
        </div>

        <%# IMG %>
        <div class="photo-event">
          <%= f.input :photo, as: :file%>
        </div>

        <%# CTA %>
        <%= f.submit "Ajouter", class: "btn-signin btn-create-event"%>
      <% end %>
    </div>
  </div>
</div>
