<%# USER_PROFIL %>
<div class="big-container-user page-container">
  <%# LINK-TITLE %>
  <div class="link-title-profil">
    <%= link_to events_path do %>
      <div class="fitmate-header-navbar">
        <button class='transparent-button'>
          <i class="fa-solid fa-chevron-left" style="color: #f6d0a5;"></i>
        </button>
      </div>
    <% end %>

    <%# TITLE %>
    <div class="show-title-user">
      <h3>Profil</h3>
    </div>

    <%# IMAGE-USER-CORNER %>
      <%# div vide pour que profil soit centré %>
    <div class="image-user-corner">
    </div>
  </div>

  <%# IMAGE-PROFIL-CENTER & USERNAME %>
  <div class="image-profil-username">
    <%# IMAGE-PROFIL-CENTER %>
    <div class="image-profil-center">
      <%= cl_image_tag @current_user.photo.key, class:'image-profil' %>
    </div>

    <%# USERNAME %>
    <div class="username">
      <%= @user.username %>
    </div>
  </div>

  <%# SHOW-DISTANCE-USER & LEVEL %>
  <div class="show-distance-user-level">
    <%# SHOW-DISTANCE-USER %>
    <div class="show-distance-user">
      <%= image_tag("localisation-pin.svg", class: "pictogram-localisation") %>
      <%= wagon_coordinates = "Nantes" %>
    </div>

    <%# LEVEL %>
    <div class="level-user">
      <%= @current_user.sport_level %>
      <%= image_tag("#{@current_user.sport_level}.svg", class: "pictogram-levels") %>
    </div>
  </div>

  <%# DESCRIPTION %>
  <div class="description-user">
    <h6>Description</h6>
      <%= @current_user.description.capitalize %>
  </div>

  <%# FAVORITE-SPORT %>
  <div class="favorite-sport">
    <h6>Sport favori</h6>
      <button class="btn-favorite-sport">
        <%= @current_user.favorite_sport %>
      </button>
  </div>

  <%# EVENEMENT CREER PAR LE USER %>
  <div class="event-create-user">
    <h6>Evenement créer</h6>
      <% @organizer.each do |event| %>
        <li>
        <%= event.title %>
        </li>
      <% end %>
  </div>

  <%# EVENEMENT AUQUEL PARTICIPE LE USER %>
  <div class="event-particip-user">
    <h6>Participation aux évènements</h6>
      <% @events.each do |event_participant|%>
        <li>
        <%= event_participant.event.title %>
        </li>
      <% end %>
  </div>

</div>
