<div id="card-container" class="big-container position-absolute fixed-bottom">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class:"event-card-link" do %>
      <div class="card-container d-flex align-items-center d-none" id="card_<%= event.id%>" data-displayevent-target='display'>
        <%= cl_image_tag event.photo.key, class:"image" %>

        <div class="card-infos">
          <div class="card-infos-details d-flex align-items-start justify-content-between">
            <h5 class="card-event-title"><%= event.title %></h5>
            <%= image_tag("#{event.sport}-1.png", class: "pictogram-sports-card") %>
          </div>
          <div class="icon-people-group">
            <i class="fa-solid fa-people-group event-icon-group" style="color: ##4B4B4B;"><%= event.event_participants.participe.size + 1 %> /<%= event.max_participant %></i>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="card-infos-details d-flex">
              <%= image_tag("place_small_card.png", class: "pictogram") %>
              <p class="card-event-localisation"><%= event.localisation.split(" ").last %></p>
            </div>
            <div class="show-distance">
              <% wagon_coordinates = [47.21112643898949, -1.5500990500139393] %>
              <p><%= Geocoder::Calculations.distance_between(wagon_coordinates,[event.latitude,event.longitude]).round(2) %> km</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
