
<div data-controller="displayevent">
  <div class="fitmate-container">
    <div class="fitmate-title">FitMate</div>
    <%= link_to new_organizer_event_path do %>
      <div class="button-create">
      <%= image_tag('add_event (1).svg') %>
      </div>
    <% end %>
    <div class="form-container">
      <%= form_with url: events_path, method: :get do |form| %>
        <div class="inside-form-container">
          <%= form.label :query, "Filtres:", class: "form-label" %>
          <div class="formpasselect">
            <%= form.select :query, [["all sports", ""]] + @selected_sports %>
          </div>
          <%= form.submit "Go!", class: "form-submit" %>
        </div>
      <% end %>
    </div>
    <div id='map' class="position-relative" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_FIT_MATE'] %>">
      <%= render "events/mini_card_index" %>
    </div>
  </div>
  </div>

</div>
