<div class="fitmate-container">
  <div class="fitmate-search">
    <div class="col-sm-8 my-3">
      <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "ðŸ” Which sport ? Which localisation ?"
      %>
      <%= submit_tag "Search", name: "", class: "btn-submit" %>
      <% end %>
    </div>
  </div>
  <div id='map' style='width: 100%; height: 844px;' data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_FIT_MATE'] %>">
  </div>
</div>
