<div class="fitmate-container-show page-container">
  <div class="link-title">
    <%= link_to events_path do %>
      <div class="fitmate-header-navbar">
        <button class='transparent-button'>
          <i class="fa-solid fa-chevron-left" style="color: #f6d0a5;"></i>
        </button>
      </div>
    <% end %>

    <%# TITLE %>
      <div class="show-title">
        <h1><%= @event.title %></h1>
        <h6><%= @event.localisation.split(" ").last %></h6>
      </div>
    </div>

  <div class="show-header">
    <div class="show-image">
      <%= cl_image_tag @event.photo.key, class:'image-event' %>
    </div>

    <div class="show-distance">
        <% user_coordinates = request.location.coordinates %>
        <% wagon_coordinates = [47.21112643898949, -1.5500990500139393] %>
        <% event_coordinates = [@event.latitude, @event.longitude] %>
      <% if user_coordinates.empty? %>
        <i class="fa-solid fa-map-location-dot icon-map" style="color: #f6d0a5;"></i><%= Geocoder::Calculations.distance_between(wagon_coordinates,[@event.latitude,@event.longitude]).round(2) %> km from your position
      <% else %>
        <i class="fa-solid fa-map-location-dot icon-map" style="color: #f6d0a5;"></i><%= Geocoder::Calculations.distance_between([user_coordinates],[@event.latitude,@event.longitude]).round(2) %> km from your position
      <% end %>
    </div>

    <div class="show-duration-level">
      <%= @event.event_level %>
      <%= image_tag("#{@event.event_level}.svg", class: "pictogram-levels") %>
    </div>

    <div class="show-description">
      <%= @event.description %>
    </div>

    <div class="show-organizer">
      <p>Organized by</p>
      <div class="show-organizer-img d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <%= cl_image_tag @organizer.photo.key, class:"organizer-img" %>
          <p class="m-0"><%= @event.organizer.username %></p>
          </div>
          <i class="fa-sharp fa-solid fa-share-nodes fa-2xl" style="color: #f6d0a5;"></i>
        </div>
      </div>

      <div class="show-participant">
        <p><%= @event.users.count %> /<%= @event.max_participant %> potes sont de la partie</p>
          <% @event.users.each do |participant| %>
            <div class="show-each-participant">
              <%= cl_image_tag participant.photo.key, class:'organizer-img' %>
              <%= participant.username %>
            </div>
          <% end %>
      </div>

      <div class="btn-message-interested d-flex justify-content-center mt-3">
        <button class= "btn-message">
          <%= link_to "Message", event_chatbox_path(@event) %>
          <%= image_tag('icon-message.svg') %>
        </button>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-interested" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Intéressé?
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><%= button_to "Je participe!", event_event_participants_path(event_id: @event.id, user_id: current_user.id, status: "participe"), method: :post %></li>
            <li><a id="interested-link" class="dropdown-item" href="#">Ca m'intéresse</a></li>
            <li><a id="not-interested-link" class="dropdown-item" href="#">Pas pour moi</a></li>
            <%# <li><%= button_to 'Supprimer', delete_participation_path(event_id: @event.id, id: @event_participant.id), method: :delete %>
          </ul>
        </div>
      </div>
      <h5 class= show-info-list-club>Vous voulez rencontrer encore plus de potes ?</h5>
      <em>Voici une liste des clubs à prowimité de vous</em>

        <div class="btn-group dropup mt-3 dropdown-list-club">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            Liste des clubs
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <% @list_club.each do |club| %>
              <li>
                <div class="show-list-club">
                  <div class="show-list-club-name"><strong><%= club["name"].capitalize %></strong></div>
                  <div class="show-list-club-locality"><%= club["localisation"].capitalize %></div>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
</div>

<%# <%= button_to "Je ne participe plus", event_event_participants_path(event_id: @event.id), method: :destroy %>

<%# <script>
  window.onload = function() {
    let goingLink = document.getElementById('going-link');
    let interestedLink = document.getElementById('interested-link');
    let notInterestedLink = document.getElementById('not-interested-link');

    goingLink.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/events';
      alert('You are successfully registered for this event!');
    });

    interestedLink.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/events';
      alert('You are interested by this event');
    });

    notInterestedLink.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/events';
      alert('Not interested by this event? Look for another!');
    });
  };
</script> %>
