
<%# CAROUSEL %>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active w-100" data-bs-interval="2000">
      <%= image_tag('homepage-1.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-2.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-3.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-4.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-5.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-6.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-7.webp') %>
    </div>
    <div class="carousel-item w-100" data-bs-interval="2000">
      <%= image_tag('homepage-8.webp') %>
    </div>
  </div>
  <div class="fitmate-homepage">
    <h3 class="fitmate-title">FITMATE</h3>
    <h5 class="fitmate-catch-phrase">Trouve des potes pour faire du sport !</h5>
    <%= link_to 'Entrer', events_path, class: "btn-index" %>
  </div>
  <div class="fitmate-signup">
    <%= link_to 'SIGN UP', new_user_session_path, class: "fitmate-signup-link" %>
  </div>
</div>
