<%# USER-CONNEXION %>
<div class="container-connexion page-container">

  <%# TITLE LOG IN %>
  <div class="title-log-in">
    <h2>Connexion</h2>
  </div>

  <%# FORM-LOG-IN %>
  <div class="form-log-in">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%# EMAIL %>
        <div class="email-log-in">
          <%= f.input :email, placeholder: "jean.dupont@gmail.com",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <%# PASSWORD %>
        <div class="password-log-in">
          <%= f.input :password, placeholder: "********",
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>

      <%# SUBMIT-LOG-IN %>
      <div class="submit-log-in">
        <div class="form-actions">
          <%= f.button :submit, "Se connecter", class: "btn-log-in" %>
        </div>
      </div>
    <% end %>

    <%# RENDER %>
    <div class="render-log-in">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
