<div class="container chatbox page-container" data-controller="chatbox-subscription"
  data-chatbox-subscription-chatbox-id-value="<%= @chatbox.id %>"
  data-chatbox-subscription-current-user-id-value="<%= current_user.id %>">
  <%= render "shared/navbar" %>
    <div class="messages" data-chatbox-subscription-target="messages">
      <% @chatbox.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
  <%= simple_form_for [@event, @chatbox, @message],
    html: { data: { action: "turbo:submit-end->chatbox-subscription#resetForm" },
    class: "d-flex" } do |f| %>
      <%= f.input :content,
      label: false,
      placeholder: "Ecrit ton message ...",
      wrapper_html: {class: "flex-grow-1"} %>
      <button type="submit" class="send-icon">
        <%= image_tag('send-icon.png') %>
      </button>
    <% end %>
</div>
